
@{
    ViewBag.Title = "Index";

}

<h2>JQGrid</h2>
<div>
    <table id="grid"></table>
    <div id="pager"></div>
</div>






<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/jquery-1.10.2.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="/themes/redmond/jquery-ui-1.8.2.custom.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/themes/ui.jqgrid.css" />

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/jquery.jqGrid.js"></script>

<script src="~/Scripts/i18n/grid.locale-en.js"></script>

<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />

<link href="~/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />

<script src="~/Scripts/script.js"></script>

